h1,h2,h3,h4,h5,h6 {
  font-weight: 100 !important;
}
#links {
    margin-top: 80px;
    clear: both;
}
#links img {
    width:24px;
}
#links > div.col-md-12 {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #efefef;
}
#noId {
    border:1px solid #EEE;
    height: 100px;
}
.lnks span {
    visibility: hidden;
}